@import '@styles/main.scss';
@import '@styles/mixins.scss';

.home {
  width: 60vw;
  height: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid white;

  @media (max-width: $screen-width-800) {
    width: 70vw;
    height: 70%;
  }

  &__title {
    font-family: $font-family-intro;
    font-size: 1.6vw;
    text-align: center;
    text-wrap: wrap;
    // border: 1px solid white;
    width: 100%;
    height: 6vw;
    margin: 1vw 0;
    text-transform: uppercase;

    @media (max-width: $screen-width-800) {
      font-size: 2.5vw;
      height: 10vw;
    }

    @media (min-width: $screen-width-1400) {
      height: 10vw;
    }
  }

  &__body {
    border: 0.3vw solid $theme-border-color;
    height: 35vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5vw;
    font-family: $font-family-intro;
    margin: 1vw 0;

    button {
      @include multiplayer-button;
      border: 1px solid antiquewhite;
      background-color: $theme-border-color;
      transition: ease-out 0.1s;
      height: 5vw;
      width: 23vw;
      font-family: $font-family-game;
      border-radius: 0.5vw;
      cursor: pointer;

      &:hover {
        border: 1px solid wheat;
        color: wheat;
        transform: scale(1.1);
        transition: ease-in 0.3s;
      }
    }

    @media (max-width: $screen-width-800) {
      height: 75%;
      margin: 1.5vw 0;
      font-size: 2vw;
      button {
        height: 7vw;
      }
    }
  }
}
