@import '@styles/main.scss';
@import '@styles/mixins.scss';

.multiplayer-lobby {
  width: 62vw;
  height: 72%;
  border: 4px solid $theme-border-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .generate-code {
    border: none;
    transition: none;
    width: 10vw;
  }

  &__code-wrapper {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;

    .title {
      font-size: 1.3vw;
      font-family: $font-family-intro;
    }

    .code {
      font-size: 2vw;
      text-align: center;
      color: antiquewhite;
    }
  }
}
