@import '@styles/main.scss';
@import '@styles/mixins.scss';

.display-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 3vw;
  border: 4px solid $theme-border-color;
  margin: 1vw 0;
  background-color: black;
  border-radius: 0.7vw;
  padding: 0.5vw;
  font-size: 0.8vw;

  p {
    margin: 0;
    padding: 0;
  }

  @media (max-width: $screen-width-800) {
    font-size: 1vw;
    padding: 1.5vw;
    width: 32vw;
  }
}
