@import '@styles/main.scss';

#root {
  width: 100vw;
  height: 100vh;
}

.app {
  width: 100vw;
  height: 100vh;
  background: url('./assets/game_background.webp');
  display: flex;
  align-items: center;
  justify-content: center;
}
