@import '@styles/main.scss';
@import '@styles/mixins.scss';

.single-player {
  @include game-layout;

  .game-area-wrapper {
    transition: none;
    background-color: transparent;
    width: 62vw;
    height: 72%; // To match the no. of rows in &__game;
    margin: 0;
    border: none;
    cursor: default;
  }
}
